.l7-marker {
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 5;
}
.l7-popup-anchor-top,
.l7-popup-anchor-top-left,
.l7-popup-anchor-top-right {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.l7-popup-anchor-bottom,
.l7-popup-anchor-bottom-left,
.l7-popup-anchor-bottom-right {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.l7-popup-anchor-left {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.l7-popup-anchor-right {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.l7-popup {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  will-change: transform;
  pointer-events: none;
  z-index: 5;
}
.l7-popup-tip {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  z-index: 1;
}
.l7-popup-anchor-top .l7-popup-tip {
	-webkit-align-self: center;
	align-self: center;
	border-top: none;
	border-bottom-color: #fff;
}

.l7-popup-anchor-top-left .l7-popup-tip {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	border-top: none;
	border-left: none;
	border-bottom-color: #fff;
}

.l7-popup-anchor-top-right .l7-popup-tip {
	-webkit-align-self: flex-end;
	align-self: flex-end;
	border-top: none;
	border-right: none;
	border-bottom-color: #fff;
}

.l7-popup-anchor-bottom .l7-popup-tip {
	-webkit-align-self: center;
	align-self: center;
	border-bottom: none;
	border-top-color: #fff;
}

.l7-popup-anchor-bottom-left .l7-popup-tip {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	border-bottom: none;
	border-left: none;
	border-top-color: #fff;
}

.l7-popup-anchor-bottom-right .l7-popup-tip {
	-webkit-align-self: flex-end;
	align-self: flex-end;
	border-bottom: none;
	border-right: none;
	border-top-color: #fff;
}

.l7-popup-anchor-left .l7-popup-tip {
	-webkit-align-self: center;
	align-self: center;
	border-left: none;
	border-right-color: #fff;
}

.l7-popup-anchor-right .l7-popup-tip {
	-webkit-align-self: center;
	align-self: center;
	border-right: none;
	border-left-color: #fff;
}

.l7-popup-close-button {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	border-radius: 0 3px 0 0;
	cursor: pointer;
	background-color: transparent;
}

.l7-popup-close-button:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.l7-popup-content {
	position: relative;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	padding: 10px 10px 15px;
	pointer-events: auto;
}

.l7-popup-anchor-top-left .l7-popup-content {
	border-top-left-radius: 0;
}

.l7-popup-anchor-top-right .l7-popup-content {
	border-top-right-radius: 0;
}

.l7-popup-anchor-bottom-left .l7-popup-content {
	border-bottom-left-radius: 0;
}

.l7-popup-anchor-bottom-right .l7-popup-content {
	border-bottom-right-radius: 0;
}

.l7-popup-track-pointer {
	display: none;
}

.l7-popup-track-pointer * {
	pointer-events: none;
	user-select: none;
}

.l7-map:hover .l7-popup-track-pointer {
	display: flex;
}

.l7-map:active .l7-popup-track-pointer {
	display: none;
}

.l7-popup-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent;
}

.l7-popup-close-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.l7-popup-content {
  position: relative;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
}

/* general toolbar styles */

.l7-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.l7-bar a,
.l7-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.l7-bar a,
.l7-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.l7-bar a:hover {
	background-color: #f4f4f4;
	}
.l7-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.l7-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.l7-bar a.l7-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}


/* control positioning */

.l7-control-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.l7-control-hide {
	display: none;
}
.l7-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}
.l7-top,
.l7-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.l7-top {
	top: 0;
	}
.l7-right {
	right: 0;
	}
.l7-bottom {
	bottom: 0;
	}
.l7-left {
	left: 0;
	}
.l7-control {
	float: left;
	clear: both;
	}
.l7-right .l7-control {
	float: right;
	}
.l7-top .l7-control {
	margin-top: 10px;
	}
.l7-bottom .l7-control {
	margin-bottom: 10px;
	}
.l7-left .l7-control {
	margin-left: 10px;
	}
.l7-right .l7-control {
	margin-right: 10px;
  }
  
  /* attribution and scale controls */

.l7-control-container .l7-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	}
.l7-control-attribution,
.l7-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.l7-control-attribution a {
	text-decoration: none;
	}
.l7-control-attribution a:hover {
	text-decoration: underline;
	}
.l7-container .l7-control-attribution,
.l7-container .l7-control-scale {
	font-size: 11px;
	}
.l7-left .l7-control-scale {
	margin-left: 5px;
	}
.l7-bottom .l7-control-scale {
	margin-bottom: 5px;
	}
.l7-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	}
.l7-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.l7-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.l7-touch .l7-control-attribution,
.l7-touch .l7-control-layers,
.l7-touch .l7-bar {
	box-shadow: none;
	}
.l7-touch .l7-control-layers,
.l7-touch .l7-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}


	/* layers control */

.l7-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.l7-control-layers-toggle {
	background-image: url(../images/layers.svg);
	width: 36px;
	height: 36px;
	}
.l7-retina .l7-control-layers-toggle {
	background-image: url(../images/layers.svg);
	background-size: 26px 26px;
	}
.l7-touch .l7-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.l7-control-layers .l7-control-layers-list,
.l7-control-layers-expanded .l7-control-layers-toggle {
	display: none;
	}
.l7-control-layers-expanded .l7-control-layers-list {
	display: block;
	position: relative;
	}
.l7-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.l7-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
	}
.l7-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.l7-control-layers label {
	display: block;
	}
.l7-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}

