{
  "extends": [
    "eslint-config-egg"
  ],
  "globals": {
    "AMap": true,
    "L7": true,
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "no-bitwise": [
      0
    ],
    "experimentalDecorators": [
      0
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "jsdoc/require-param": 0,
    "linebreak-style": [
      0
    ],
    "indent": ["error", 2, {
    "ignoredNodes": ["TemplateLiteral"]
  }]
  }
}
