*.md
*.sh
*.yml
*.svg
*.gif
.DS_Store
.gitignore
.prettierignore
.editorconfig
.eslintignore
lerna.json
yarn.lock
yarn-error.log
npm-debug.log
lerna-debug.log
package.json
tsconfig.json
CNAME
LICENSE
.cache
.history
es
dist
lib
