language: node_js

node_js:
  - '10'

env:
  - NODE_ENV=test

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  - yarn install

script:
  - yarn lint
  - yarn test
