.dippercontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 538px;
  justify-content: center;
}

.title {
  font-size: 30px;
  font-family: 'PingFangSC-Semibold';
}

.subtitle {
  font-size: 16px;
  color: #697B8C;
  font-family: 'PingFangSC-Regular';
  padding-top: 20px;
}

.dipperdemo {
  display: flex;
}

.dipperitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 600px;
  margin:40px 20px;
}

.dipperimg {
  border-radius: 50%;
  box-shadow: inset 0 0 16px 4px rgba(115, 108, 255, 0.44);
  background-color: rgba(#746CFF, 0.24);
  height: 180px;
  width: 180px;
  padding: 40px;
}

.dipperitem:hover .dipperimg{
  padding: 32px;
  border: 8px solid rgba(115, 108, 255, 0.08);
  box-shadow: inset 0 0 16px 4px rgba(115, 108, 255, 0.44);
}

.dippertitle {
  font-size: 24px;
  font-family: 'PingFangSC-Semibold';
  color: #0D1A26;
  padding-top: 40px;
}

.dipperitem:hover .dippertitle {
  color: #873BF4;
}
