@font-face {
  font-family: "l7-iconfont"; /* Project id 3580659 */
  src: url('iconfont.woff2?t=1660133611296') format('woff2'),
       url('iconfont.woff?t=1660133611296') format('woff'),
       url('iconfont.ttf?t=1660133611296') format('truetype');
}

.l7-iconfont {
  font-family: "l7-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l7-icon-quanping:before {
  content: "\e655";
}

