@font-face {
  font-family: "l7-iconfont"; /* Project id 3580659 */
  src: url('iconfont.woff2?t=1661150801461') format('woff2'),
       url('iconfont.woff?t=1661150801461') format('woff'),
       url('iconfont.ttf?t=1661150801461') format('truetype');
}

.l7-iconfont {
  font-family: "l7-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l7-icon-tuceng:before {
  content: "\e612";
}

.l7-icon-ditu:before {
  content: "\e66c";
}

.l7-icon-color:before {
  content: "\e65f";
}

.l7-icon-gps-fixed:before {
  content: "\e678";
}

.l7-icon-tupian:before {
  content: "\e61b";
}

.l7-icon-FullScreen:before {
  content: "\e62b";
}

.l7-icon-ExitFullScreen:before {
  content: "\e62c";
}

