.exhibititem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exhibititem :global .ant-switch-checked {
  background-color: #1E73F8;
}
.dropdown {
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
}
.dropicon {
  padding-left: 8px;
  color: rgba(0, 0, 0, 0.25);
}
