.lableclass {
  position: absolute;
  display: inline;
  cursor: pointer;
  background: rgb(255, 228, 120);
  border: none; padding: 4px;
  white-space: nowrap;
  font: bold 12px/18px arial, sans-serif;
  color: rgb(51, 51, 51);
  box-shadow: rgb(153, 153, 153) 1px 1px 2px;
  border-radius: 4px;
  width: 22px;
  height: 24px;
  text-align: center;
  user-select: none;
}
.g2-guide-html {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  line-height: 0.1
}

.g2-guide-html .title {
  font-size: 12px;
  color: #8c8c8c;
  font-weight: 300;
}

.g2-guide-html .value {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
