.dippermapcontainer {
  /* height: 656px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 68px;
}

.title {
  font-size: 30px;
  font-family: 'PingFangSC-Semibold';
}

.subtitle {
  font-size: 16px;
  color: #697b8c;
  font-family: 'PingFangSC-Regular';
  padding-top: 20px;
}
.carousel {
  width: 80%;
  padding-top: 36px;
}
.carousel img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}
.ant-carousel-vertical .slick-dots-right {
  right: -40px !important;
  top: 100px;
}
