.autocomplete-suggestions {
  padding: 16px;
  min-width: 340px;
  width: 720px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.autocomplete-suggestions .keyword-title {
  color: rgba(0, 0, 0, 0.25);
  margin: .5em 0;
}
.autocomplete-suggestions .keyword-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.autocomplete-suggestions .keyword-links a {
  color: rgba(0, 0, 0, 0.65);
}
.autocomplete-suggestions .keyword-links li {
  margin: .25em 0;
}
hr {
  margin: .5em 0;
}
.autocomplete-suggestion {
  cursor: pointer;
  line-height: 1;
  padding: 12px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.autocomplete-suggestion .keyword,
.autocomplete-suggestion .doc-title {
  display: inline-block;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.autocomplete-suggestion .doc-title {
  text-align: right;
  font-size: 12px;
  color: #aaa;
}
.autocomplete-selected {
  background-color: #e6f7ff;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
@media only screen and (max-width: 480px) {
  .autocomplete-suggestions {
    left: 16px !important;
    width: 100%;
  }
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 960px) {
  .col-lg-5ths {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 768px) {
  .col-md-5ths {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
html,
body {
  font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  background: #fff;
  -webkit-transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
footer {
  z-index: 100;
  font-size: 12px;
  height: 64px;
  border: 1px solid #D8DCE7;
}
footer a,
footer .nav-link {
  color: rgba(0, 0, 0, 0.45);
}
footer .declaration {
  line-height: 16px;
  margin: 0 12px;
  text-decoration: none;
}
footer .declaration:hover {
  color: #1890ff;
}
footer .nav-link {
  margin-right: 32px;
}
footer.bg-dark {
  border: none;
  color: rgba(255, 255, 255, 0.45);
  background: #06080A !important;
  border-top: 1px solid rgba(197, 203, 217, 0.3);
}
footer.bg-dark a,
footer.bg-dark .nav-link {
  color: rgba(255, 255, 255, 0.45);
}
footer.bg-dark .declaration:hover {
  color: white;
}
#navbarFooter .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
@media only screen and (max-width: 768px) {
  footer.navbar {
    padding: 40px 0;
    height: auto;
    text-align: center;
  }
  footer.navbar .nav-item {
    margin-bottom: 16px;
  }
}
.site-map {
  padding: 86px 0 70px;
  background: #06080A;
}
.site-map .sites {
  padding: 0 25px;
}
.site-map .sites .description {
  color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
  padding: 0;
}
.site-map .nav-item {
  line-height: 1;
  margin: 8px 0;
}
.site-map a {
  color: white;
  font-size: 12px;
}
.site-map a:hover {
  color: white;
}
.site-map h5 {
  line-height: 1.5;
  font-size: 14px;
  color: white;
  margin-bottom: 16px;
}
.site-map h5 a {
  font-size: 14px;
}
@media only screen and (max-width: 480px) {
  .site-map {
    text-align: center;
  }
  .site-map .sites {
    padding: 25px;
  }
}
.icon-plugin:before {
  content: "\E6F8";
}
a {
  color: #1890ff;
}
h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
  display: none;
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline;
}
table {
  max-width: 100%;
  margin: 25px 0;
  border-radius: 6px;
  border: 1px solid #e9e9e9;
  border-right: none;
  border-collapse: separate;
  font-size: 12px;
  color: #666;
  border-spacing: 0;
}
table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}
table th {
  background-color: #f7f7f7;
  max-width: 100%;
}
table tr {
  max-width: 100%;
}
table td,
table th {
  padding: 10px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
img {
  max-width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.card {
  border-radius: 4px;
}
.btn {
  font-size: 14px;
}
.btn-light:hover {
  color: #40A9FE !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.btn-round-link {
  background: #1890ff;
  border-color: #1890ff;
  min-width: 110px;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 15px;
  line-height: 1.15;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}
.btn-round-link:focus {
  box-shadow: none;
}
.btn-round-link:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(24, 144, 255, 0.4);
  background-color: #40a9ff;
  border-color: #40a9ff;
  color: white;
}
.intro .btn.btn-round-link.btn-primary:hover {
  border: none !important;
}
.btn-light {
  background: none;
  color: #1890FF;
}
.navbar-brand {
  display: inline-block;
  padding: 0;
  line-height: 22px;
  font-size: 20px;
  margin-right: 18px;
}
#sub-product-navs {
  width: 95px;
  margin-left: 18px;
}
#sub-product-navs .nav-link {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: 400;
  padding-left: 0;
  color: rgba(0, 0, 0, 0.85) !important;
}
#sub-product-navs .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .2em solid;
  border-right: .2em solid transparent;
  border-left: .2em solid transparent;
}
#sub-product-navs .dropdown-menu.show {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
#sub-product-navs .dropdown-item {
  padding: 12px 24px;
}
#sub-product-navs .dropdown-item:hover,
#sub-product-navs .dropdown-item:focus {
  background-color: #e6f7ff;
}
#sub-product-navs .dropdown-item .icon-container {
  display: inline-block;
  width: 24px;
  text-align: center;
  margin-right: 16px;
}
.nav-separator {
  border-left: 1px solid #ebedee;
  line-height: 22px;
  height: 22px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 8px;
}
#btn-search {
  margin-left: 18px;
}
#btn-search .iconfont {
  line-height: 28px;
  color: black;
  font-size: 12px;
  margin-right: 4px;
}
#navbarHeader .navbar-nav .nav-link,
#sub-site-nav .navbar-nav .nav-link {
  color: #314659;
}
#navbarHeader .nav-separator {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  height: 24px;
}
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  color: #16181b;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
#sub-site-nav {
  line-height: 60px;
}
#sub-site-nav .nav-link {
  padding: 0 20px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
#sub-site-nav .nav-link:hover,
#sub-site-nav .nav-link.active {
  border-top: 2px solid #1890ff;
}
.homepage .back2old-version {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.back2old-version .btn {
  color: #314659;
  margin-left: 16px;
  border-radius: 32px;
  border: 1px solid #d9d9d9 !important;
  padding: 6.5px 15px;
}
.back2old-version .btn:hover {
  border: 1px solid #40a9ff !important;
}
.template-doc h2::before,
.template-demos h2::before,
.template-home h2::before,
.template-doc h3::before,
.template-demos h3::before,
.template-home h3::before,
.template-doc h4::before,
.template-demos h4::before,
.template-home h4::before,
.template-doc h5::before,
.template-demos h5::before,
.template-home h5::before,
.template-doc h6::before,
.template-demos h6::before,
.template-home h6::before {
  display: block;
  content: " ";
  height: 64px;
  margin-top: -64px;
  visibility: hidden;
}
#query {
  margin-right: 20px;
  max-width: 100%;
  min-width: 120px;
  border-width: 0;
  background: transparent;
}
#query:focus {
  border: none;
  outline: none;
}
#query::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.45);
  font-weight: 300;
  font-size: 12px;
  opacity: 1;
}
#query::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(0, 0, 0, 0.45);
  font-weight: 300;
  font-size: 12px;
  opacity: 1;
}
.navbar {
  padding: 0 32px;
}
.navbar .logo {
  margin: 4px 8px 4px 0;
}
.navbar .nav-link.active {
  color: #1890ff !important;
}
.navbar-light {
  background: #FDFDFD;
  box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
}
.navbar-light.transparent {
  background: #F8FAFE;
  box-shadow: none;
}
header.navbar {
  z-index: 10;
}
/* promote banner */
.promote-banner .cross {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  right: 24px;
  top: 12px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.promote-banner:hover .cross {
  opacity: 1;
}
.homepage {
  color: #fff;
  z-index: 1;
  background-color: transparent !important;
}
.homepage #sub-site-nav .nav-link {
  color: #fff !important;
}
.homepage #navbarHeader .nav-separator {
  border-left: 1px solid #fff;
}
.homepage #btn-search .iconfont {
  color: #fff !important;
}
.homepage #navbarHeader .navbar-nav .nav-link,
.homepage #sub-site-nav .navbar-nav .nav-link {
  color: #fff !important;
}
.homepage #query:-moz-placeholder {
  color: rgba(255, 255, 255, 0.65);
}
.homepage #query::-moz-placeholder {
  color: rgba(255, 255, 255, 0.65);
}
.homepage #query:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}
.homepage #query::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}
.homepage #query::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 992px) {
  header.navbar {
    padding: 16px;
  }
  .card-wrapper {
    margin: 16px auto;
  }
  .card-wrapper .card {
    height: auto;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .nav-separator,
  #btn-search {
    display: none;
  }
  #sub-product-navs {
    width: 100%;
  }
  .back2old-version .btn {
    width: 100%;
    border-radius: 4px;
    padding: 16px;
  }
  #sub-site-nav {
    line-height: 1em;
  }
  #sub-site-nav .nav-link {
    padding: 20px;
    text-align: center;
  }
  #sub-product-navs,
  .back2old-version .btn,
  #query {
    margin-left: 0;
    text-align: center;
  }
  #query {
    margin: 16px 0;
  }
}

/*# sourceMappingURL=common.css.map*/