
.top-right{
    right: 10px;
    position:absolute;
}
.bottom-right{
    right: 0;
    bottom: 10px;
    position:absolute;
}
.info-panel {
    width: 250px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.15);
    margin: 24px;
    padding: 12px 24px;
    outline: none;
    z-index: 10;
}
.info-panel p {
  margin: 0px;
}

.info-panel h4 {
    font-size: 1em;
    font-weight: 500;
    margin: 8px 0;
}
.info-panel label {
    display: inline-block;
    width: 30px;
    margin-right: 10%;
    color: #5a666d;
    margin-bottom: 4px;
}
.tooltip {
    position:absolute;
    pointer-events: none;
    transition: opacity .2s;
    padding: 4px;
    background: rgba(0,0,0,.8);
    color: #fff;
    max-width: 300px;
    font-size: 10px;
    z-index: 9;
}
.tooltip p {
 padding: 0;
 margin: 0;

}
.input-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 3rem;
  }
  
  .input-item:last-child {
    margin-bottom: 0;
  }
  
  .input-item>select, .input-item>input[type=text], .input-item>input[type=date] {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
  
  .input-item>select:not(:last-child), .input-item>input[type=text]:not(:last-child), .input-item>input[type=date]:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
  }
  
  .input-item>select:not(:first-child), .input-item>input[type=text]:not(:first-child), .input-item>input[type=date]:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
  }
  
  .input-item-prepend {
    margin-right: -1px;
  }
  
  .input-item-text, input[type=text],input[type=date], select {
    height: calc(2.2rem + 2px);
  }
  
  .input-item-text {
    width: 6rem;
    text-align: justify;
    padding: 0.4rem 0.7rem;
    display: inline-block;
    text-justify: distribute-all-lines;
    /*ie6-8*/
    text-align-last: justify;
    /* ie9*/
    -moz-text-align-last: justify;
    /*ff*/
    -webkit-text-align-last: justify;
    /*chrome 20+*/
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  .input-item-text input[type=checkbox], .input-item-text input[type=radio] {
    margin-top: 0
  }
  
.input-card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    width: 10rem;
    border-width: 0;
    position: fixed;
    top: 1rem;
    right: 1rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.1rem 0.6rem;
  }
  .info hr {
    margin-right: 0;
    margin-left: 0;
    border-top-color: grey;
  }
  
  .info {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    position: fixed;
    top: 1rem;
    background-color: white;
    width: auto;
    border-width: 0;
    right: 1rem;
    z-index: 10;
  }