// Control
@l7-control-space: 10px;
@l7-control-font-size: 12px;
@l7-control-font-color: #646464;
@l7-control-bg-color: #fff;

// ButtonControl
@l7-btn-control-bg-color: @l7-control-bg-color;
@l7-btn-control-bg-hover-color: darken(@l7-control-bg-color, 10%);
@l7-btn-control-bg-active-color: darken(@l7-control-bg-color, 15%);
@l7-btn-control-size: 30px;
@l7-btn-control-border-radius: 2px;
@l7-btn-control-disabled-bg-color: @l7-btn-control-bg-hover-color;
@l7-btn-control-disabled-font-color: lighten(@l7-control-font-color, 10%);
